.table {
  td,
  th {
    color: var(--primary-color);
  }

  td {
    font-size: 1.1rem;
    font-weight: 600;
  }

  tr td {
    img {
      width: 80px !important;
      height: 80px !important;
      object-fit: cover;
    }

    .change__qty-icon {
      cursor: pointer;
    }

    .cart__icon {
      cursor: pointer;
      font-size: 1.5rem;
      padding: 5px;
      background: var(--primary-color);
      color: #fff;
      border-radius: 50px;
    }
  }
}
