.billing__form {
  .form__group {
    width: 100%;
    padding-right: 12px;
    padding-left: 2px;

    input {
      border-radius: 5px;
      width: 100%;
      padding: 12px;
      border: 1px solid var(--card-bg-02);
    }
  }
}

.checkout__cart {
  padding: 20px;
  background: var(--primary-color);
  color: #fff;
  border-radius: 5px;

  h6 {
    margin-bottom: 20px;
  }

  h4 {
    border-top: 1px solid rgb(131, 126, 126);
    padding-top: 20px;
  }

  h6,
  h4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
